.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons-signup{
    margin-top: 2rem;
    display: inline-block;
    justify-items: center;
    color: white;
    background: #4d9559;
    border: 1px solid transparent;
    padding: 12px 30px;
    border-radius: 10px;

}

